.invite_inner { width: 100%; max-width: 420px; margin: 0 auto; background-color: #f2ece6; overflow: hidden; /* background: linear-gradient(to bottom, #f5d9d3 16%, #fff 36%); */}
/* fafafa */
.title_wrap { margin: 0 0 20px; text-align: center; } 
.title_wrap .ico { display: block; margin: 0 0 15px;; font-style: normal; } 
.title_wrap .title { display: block; line-height: 1.45; font-size: 1.7rem; font-family: 'Bitter'; letter-spacing: 0.05em; /* text-transform: uppercase; */}

.main_wrap { display: flex; flex-direction: column; justify-content: center; /* padding: 70px 50px; */
 height: 100vh; padding: 30px 0 60px; text-align: center; color: #333; /* background: url('../images/IMG_8506.jpg') no-repeat 0 bottom / contain; */}
.main_wrap .mini_text { display: block; margin: 0 0 5px; line-height: 1.5; font-size: 1.2rem; color: #f79e9e; letter-spacing: 0.05em; text-transform: uppercase; } 
.main_wrap .save_date { display: block; margin: 0 0 10px; font-family: 'GmarketSans'; /* font-family: 'S-CoreDream'; */
 font-size: 4.4rem; font-weight: bold; color: #f79e9e; letter-spacing: 0.08em; } 

.main_wrap .main_title { display: block; font-size: 1.7rem; color: #333; letter-spacing: -0.001em; } 
.main_wrap .main_title span { display: inline-block; margin: 0 5px; font-size: 1.4rem; } 

.visual_wrapper_concept01 { position: relative; margin: 20px 0;}
.visual_wrapper_concept01 img { display: block; width: 100%; } 

.waves { position: relative; width: 100%; height: 40px; margin-bottom: -7px}
.parallax>use { animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite}
.parallax>use:nth-child(1) { animation-delay: -2s; animation-duration: 7s}
.parallax>use:nth-child(2) { animation-delay: -3s; animation-duration: 10s}
.parallax>use:nth-child(3) { animation-delay: -4s; animation-duration: 13s}
.parallax>use:nth-child(4) { animation-delay: -5s; animation-duration: 20s}

@keyframes move-forever { 
    0% { transform: translate3d(-90px, 0, 0)}
    100% { transform: translate3d(85px, 0, 0)} 
}

.blr { height: 30px; background-color: rgba(255, 255, 255, .5); background-color: rgba(255, 255, 255, .99); position: absolute; left: -10%; margin: auto; width: 120%; filter: blur(10px); -webkit-filter: blur(8px); display: none}
.blr.blr01 { top: -15px}
.blr.blr02 { bottom: -15px}
.wave01 { position: relative; top: 30px; transform: scaleY(-1); transition: .3s; z-index: 1; /* display: none */}
.wave02 { position: relative; top: -30px; margin-bottom: -30px; /* display: none */}

/* .main_wrap .visual_img_wrapper { position: relative; overflow: hidden; margin-bottom: 30px; border-radius: 200px 200px 0 0; box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px; } 
.main_wrap .visual_img_wrapper img { display: block; width: 100%; } 
.main_wrap .visual_img_wrapper .moving { background-size: cover; background-repeat: no-repeat; height: 100%; position: absolute; top: 0; width: 100%; } */
/* .main_wrap .visual_img_wrapper .moving.flower3 { animation: flower3 10s linear infinite; background-image: url(../images/flower3.png), url(/storefarm/card/movie/flower4.png) !important; pointer-events: none; background-repeat: inherit !important; } */

.main_wrap .visual_img_wrapper .moving.heart2 { animation: heart2 20s linear infinite; background-image: url(../images/heart2.png), url(../images/heart3.png) !important; pointer-events: none; background-repeat: inherit !important; } 

@keyframes heart2 { 
    0% { background-position: 0 0, 0 0, 0 0;}
    50% { background-position: 500px 500px, 100px 200px, -100px 140px;}
    to { background-position: 1000px 1000px, 200px 300px, -200px 300px;}
}


.main_wrap .img_box { padding: 0 40px; } 
.main_wrap .img_box img { width: 100%; vertical-align: top; } 
.main_wrap .we_name {display: flex; margin: 20px 0 0; align-items: flex-end; justify-content: center;}
.main_wrap .we_name .name {display: block; margin: 0 5px; font-family: 'IropkeBatangM'; font-size: 18px; letter-spacing: 0.1em;}
.main_wrap .we_name .and {font-style: italic; font-family: 'IropkeBatangM';}

.main_wrap .bottom_info {display: block; margin: 10px 0 0; line-height: 1.6; font-size: 14px;} 


/* 인사말 */
.greeting_wrap { padding: 60px 0 50px; text-align: center; background-color: #fff; border-radius: 200px 200px 0 0; box-shadow: 0px -10px 40px -10px rgb(0 0 0 / 0.8%); } 
/* rgb(254, 248, 214) */
.greeting_wrap .greeting_text { line-height: 2; font-size: 1.5rem; color: #222; letter-spacing: -0.015em; } 
.call_area { position: relative; margin: 50px 0 0; } 
.call_area:before { display: block; position: absolute; top: 0; left: 0; right: 0; margin: 0 auto; width: 50px; height: 1px; background-color: #ddd; content: ''; } 
.call_area .call_list { padding: 30px 0; } 
.call_area .call_list .list_item { display: flex; justify-content: center; align-items: center; } 
.call_area .call_list .list_item p { line-height: 1.8; font-size: 1.6rem; color: #333; letter-spacing: 0.1em;} 
.call_area .call_list .list_item .mini_txt { display: inline-block; margin: 0 7px 0 3px; font-size: 1.5rem; color: #777; } 

/* 갤러리 */
.photo_wrap { padding: 60px 0; background-color: #fff; } 
.photo_list { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; } 
.photo_list li { padding: 5px; width: calc((100% - 20px) / 3); } 
.photo_list .img_box { position: relative; overflow: hidden; border-radius: 7px; background-color: #eee; } 
.photo_list .img_box::before { display: block; padding-top: 100%; content: ''; } 

.calander { padding: 30px 25px 40px; background-color: #f8f8f8; } 
.cal-wrap { padding: 10px 5px; background-color: #fff; border-radius: 15px; } 
.cal-title { position: relative; display: flex; justify-content: space-between; align-items: center; margin: 0 0 20px; padding: 15px 20px 10px; } 
.cal-title::before { position: absolute; bottom: 0; left: 0; right: 0; margin: 0 auto; display: block; width: calc(100% - 30px); height: 1px; background-color: #eee; content: ''; } 
.cal-title .month { font-size: 16px; color: #333; } 
.cal-title .time { /* font-family: 'GmarketSans'; */ font-size: 15px; color: #333; } 
.cal-table { width: 100%; } 
.cal-table tr { height: 36px; } 
.cal-table thead tr { height: 30px; } 
.cal-table thead th { font-size: 13px; font-weight: 400; color: #222; text-align: center; } 
.cal-table tbody td { font-size: 14px; color: #787878; text-align: center; } 
.cal-table tbody td.sunday { color: #ff6666; } 
.cal-table tbody td.w-day { position: relative; font-weight: 700; color: #fff; z-index: 1; } 
.cal-table tbody td.w-day::before { position: absolute; top: 50%; transform: translateY(-50%); left: 0; right: 0; margin: 0 auto; display: block; width: 30px; height: 30px; border-radius: 50%; background-color: #f79e9e; content: ''; z-index: -1; } 

.dday-wrap { margin: 30px 0 0; text-align: center; } 
.dday-wrap .d-text { line-height: 1.5; font-size: 14px; color: #333; } 
.dday-wrap .d-day {display: inline-block; margin: -2px 0 0; font-size: 16px; line-height: 1.5; font-weight: 600; color: #df8383; vertical-align: middle;} 
/* 
.scroll_wrap { position: absolute; top: 0; left: 0; width: 100%; height: 100vh; overflow-y: scroll; visibility: visible; opacity: 1; transform: translate(0, 0); transition: transform 0.3s; } 
.scroll_wrap.on { visibility: visible; opacity: 1; transform: translate(0, 0); } 
.scroll_wrap.on .sec-hint:before { animation: hint-bounce-ani 0.8s 2.3s forwards; }  */

/* 마음 전하실 곳 */
.account_wrap {padding: 60px 0;}
.account_wrap .title_wrap {margin: 0 0 40px;}
.account_wrap .title_wrap .title {font-family: 'Prentendard'; font-weight: 500; color: #111; letter-spacing: 0;}

.bride_groom {display: flex; width: 100%; padding: 0 25px; justify-content: center; align-items: center;}
.bride_groom li {width: 100%; text-align: center;}
.bride_groom .tit {display: block; font-size: 15px; font-weight: 500; color: #333;}

.account_wrap .contact_box {display: flex; margin: 15px 0 10px; justify-content: center; align-items: center; flex-direction: row;}
.account_wrap .contact_box a {display: block; margin: 0 5px; width: 50px; height: 50px; line-height: 50px; font-size: 13px; color: #333; text-align: center; border-radius: 50%; background-color: #ddd;}

.account_box {display: flex; justify-content: center; align-items: center; flex-direction: row;}
.account_box button {display: block; margin: 0 3px; overflow: hidden; width: 66px; height: 30px; padding: 0 10px; border-radius: 15px;}
.account_box .btn_account {font-size: 12px; color: #fff; background-color: #f79e9e;}
.account_box .btn_kpay {text-indent: -9999px; background: #ffeb03 url('../images/payment_icon_yellow_large.png') no-repeat center center / 48px;}
.groom_area .account_box .btn_account {background-color: #9ec0f7;}
/* .parents_area {margin: 60px 0 0;}
.parents_area .title {display: block; margin: 0 0 30px; font-size: 16px; color: #777; text-align: center;}
.parents_list {display: flex; width: 100%; padding: 0 25px; justify-content: center; align-items: center;}
.parents_list li {width: 100%; text-align: center;}
.parents_list .tit {display: block; margin: 0 0 20px; font-size: 16px; font-weight: 500;}
.parents_list .groom_parents .tit {color: #8CC0DE;}
.parents_list .bride_parents .tit {color: #f79e9e;}
.parents_list .mom {margin: 20px 0 0;}
.parents_list .name {font-size: 14px; font-weight: 500; color: #111;} */

.parents_area {margin: 60px 0 0;}
.parents_area .title {display: block; margin: 0 0 30px; font-size: 16px; color: #333; text-align: center;}
.parents_list {width: 100%; padding: 0 25px;}
.parents_list li {width: 100%; overflow: hidden; background-color: #fff; border-radius: 5px; border: 1px solid #ddd;}
.parents_list li + li {margin: 10px 0 0;}
.parents_list .tit {position: relative; display: block; padding: 0 20px; line-height: 48px; font-size: 15px; font-weight: 500; color: #666;}
.parents_list .tit::before {display: block; position: absolute; top: 50%; transform: translateY(-50%); right: 20px; width: 12px; height: 48px; background: url('../images/ico_dropdown.png') no-repeat center center / contain; content: ''; transition: all 0.3s ease;}
.parents_list .tit.open::before {transform: translateY(-50%) rotate(180deg);}
.content_box {display: none; padding: 10px 0 20px;}
.content_box .list_item {display: flex; padding: 10px 20px; justify-content: space-between; align-items: center;}
.content_box .list_item .button_box {display: flex; align-items: center;}
.content_box .button_box .contact_box {margin: 0;}
.content_box .button_box .contact_box a {width: 30px; height: 30px; text-indent: -9999px;}
.content_box .button_box .contact_box .btn_call {background: url('../images/ico_call.png') no-repeat center center / 20px;}
.content_box .button_box .contact_box .btn_msg {background: url('../images/ico_message.png') no-repeat center center / 20px;}
.content_box .button_box .account_box button {margin: 0;}
.parents_list .name {font-size: 14px; font-weight: 500; color: #111;}

.location_wrap {padding: 60px 0; background-color: #fafafa;} 
.location_wrap .title_wrap .title {font-family: 'Prentendard'; font-weight: 500; color: #111; letter-spacing: 0;}
.location_info {padding: 0 0 20px; text-align: center;}
.location_info .name {display: block; line-height: 1.4; font-size: 16px; letter-spacing: 0;}
.location_info .addr {display: block; margin: 5px 0 0; line-height: 1.4; font-size: 13px; color: #444;}
.location_info .tel {display: block; margin: 10px 0 0; font-size: 12px; color: #777;}
.map_area .kakao_map {height: 260px;}
.map_area .btn_map_detail {display: block; padding: 12px 10px; line-height: 1.3; font-size: 14px; color: #fff; text-align: center; background-color: rgb(247 158 158);}
.wayto_list {padding: 30px 25px 0;}
.wayto_list li + li {margin: 30px 0 0;}
.wayto_list .tit {display: block; margin: 0 0 8px; font-size: 15px; font-weight: 500; color: #111;}
.wayto_list .txt {display: block; line-height: 1.5; font-size: 13px; color: #444;}
.wayto_list .txt + .txt {margin: 5px 0 0;}

